*.egg
*.egg-info/

__pycache__/
*.pyc
*.pyo

*deprecated*

.test
.venv
.QiskitTest2.0

old/
Barkla1Files/
file_archive
.pennylaneQiskitVersion
build/
dist/

/SUSY/Wess-Zumino/Qiskit/SBQKD/Files/
/SUSY/SUSY QM/Qiskit/QuantumCrashcourseHistos/

apikey.json
open-apikey.json